# environment 
.venv
.env

# cache python
__pycache__/
*.py[cod]
*.pyo

# IDE
.vscode/

# JSON files are ignored because we use YAML as source of truth, JSON is generated automatically
*.json


generate_paths_hierarquy.py
